body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
#container {
    margin-top: 20px;
}
.generated {
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

#top-container {
    width:100vw;
    padding:30px;
}

#bottom-container {
    width:100vw;
    padding:30px;
}